.logoh {
  width: 60vh;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000ff;
  font-family: "Satoshi", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
.containerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 0 20px;
}
.title {
  font-family: "la-bohemienne", cursive, sans-serif;
  font-size: 50vh;
  font-weight: bold;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11vh;
  position: relative;
  top: -10vh;
}
.p {
  width: 9vw;
}
.h2 {
  font-family: "la-bohemienne", cursive, sans-serif;
  font-size: 15vh;
}
.projet,
.projet2 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15vh;
  width: 90vw;
}
.fichel {
  width: 50%;
  text-align: left;
}
.ficher {
  width: 50%;
  text-align: right;
}
.imgl,
.imgr {
  width: fit-content;
}
.imgl2,
.imgr2 {
  width: 30vw;
  border-radius: 30px;
}
.flex1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11vh;
  position: relative;
  top: -17vh;
}
.flex2 {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  flex-direction: column;
}
.funfont {
  font-weight: 580;
  font-size: 3.5vh;
  display: inline-block;
  background: linear-gradient(
    67deg,
    rgba(208, 143, 13, 1),
    rgba(255, 0, 115, 1),
    rgba(136, 0, 255, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.tout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20vh;
  margin-top: -11vh;
  margin-bottom: 20vh;
}
.titre {
  width: 38vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.duo {
  display: flex;
  justify-content: space-between;
  width: 30vh;
  margin-bottom: 4vh;
  align-items: center;
  gap: 5vh;
}
.icone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -5px;
  width: 15vh;
}
.photomoi {
  width: 75vh;
}
.pp,
.p {
  font-size: 2.5vh;
}
.pp1 {
  font-size: 3vh;
  position: relative;
  right: 5vh;
  line-height: 1;
  text-align: right;
  margin: -1vh;
}
.pp2 {
  font-size: 30vh;
  font-family: "la-bohemienne", cursive, sans-serif;
  line-height: 1.5;
}
.pp3 {
  font-size: 15vh;
  font-family: "cofo-raffine", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  line-height: 1.8;
}
.aboutme {
  font-size: 3vh;
  padding: 3vw 20vw 13vw 20vw;
}
.h3 {
  font-size: 5vh;
}
.iconeimg {
  width: 8vh;
}
.vpda {
  background-color: rgb(159, 14, 103);
}
.vphiska {
  background-color: rgb(85, 39, 27);
}
.vpda,
.vphiska {
  padding: 1vh 2vh;
  border-radius: 30px;
  color: white;
  margin-top: 3vh;
}
.vpda:hover,
.vphiska:hover {
  color: rgb(204, 179, 185);
}
@media (max-width: 1250px) {
  .logoh {
    width: 40vh;
  }
  .title {
    font-size: 40vh;
  }
  .flex {
    gap: 6vh;
    margin: 10vh 0vh;
  }
  .flex2 {
    flex-direction: column;
    gap: 2vh;
    position: relative;
    right: 3vw;
    align-items: center;
  }
  .flex1 {
    gap: 1vh;
    flex-direction: row;
  }
  .photomoi {
    width: 70vh;
    position: relative;
    right: 3vw;
  }
  .pp1 {
    font-size: 2.5vh;
    right: 10vh;
    margin: 0vh 0vh -1vh 0vh;
  }
  .pp2 {
    font-size: 20vh;
    position: relative;
    left: 8vh;
  }
  .pp3 {
    font-size: 12vh;
    position: relative;
    left: 8vh;
  }
  .aboutme {
    font-size: 2.5vh;
    width: 60vw;
    margin: 15vh 0vh;
  }
  .funfont {
    font-size: 3vh;
  }
  .h2 {
    font-size: 10vh;
  }
  .tout {
    flex-direction: row;
    gap: 5vh;
    margin-bottom: 15vh;
  }
  .p {
    width: 9vw;
  }
  .p,
  .pp {
    font-size: 2.5vh;
  }
  .h3 {
    font-size: 4vh;
    margin-top: 5vh;
  }
  .iconeimg {
    width: 6vh;
  }
  .projet,
  .projet2 {
    align-items: center;
  }
}
@media (max-width: 980px) {
  .logoh {
    width: 32vh;
  }
  .title {
    font-size: 32vh;
  }
  .flex {
    gap: 6vh;
    margin: 16vh 0vh;
  }
  .flex2 {
    flex-direction: column;
    gap: 1vh;
    position: relative;
    right: 3vw;
    align-items: center;
  }
  .flex1 {
    gap: 1vh;
    flex-direction: row;
  }
  .photomoi {
    width: 63vh;
    position: relative;
    right: 0vw;
  }
  .pp1 {
    font-size: 3vh;
    right: 10vh;
    margin: 0vh 0vh -1vh 0vh;
  }
  .pp2 {
    font-size: 15vh;
    position: relative;
    left: 8vh;
  }
  .pp3 {
    font-size: 9vh;
    position: relative;
    left: 8vh;
  }
  .aboutme {
    font-size: 2.5vh;
    width: 60vw;
    margin: 15vh 0vh;
  }
  .funfont {
    font-size: 3vh;
  }
  .h2 {
    font-size: 10vh;
    margin-bottom: 12vh;
  }
  .tout {
    flex-direction: row;
    gap: 8vh;
    margin-bottom: 20vh;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .p,
  .pp {
    font-size: 2.5vh;
  }
  .h3 {
    font-size: 4vh;
    margin-top: 5vh;
  }
  .iconeimg {
    width: 6vh;
  }
  .projet,
  .projet2 {
    align-items: center;
  }
}
@media (max-width: 600px) {
  .flex1,
  .flex2 {
    flex-direction: column;
  }
}
@media (max-width: 780px) {
  .logoh {
    width: 20vh;
  }
  .title {
    font-size: 20vh;
  }
  .flex {
    gap: 6vh;
    margin: 20vh 0vh;
    top: -10vh;
  }
  .flex2 {
    flex-direction: column;
  }
  .flex2 {
    gap: 2vh;
    align-items: center;
  }
  .flex1 {
    gap: 4vh;
  }
  .photomoi {
    width: 40vh;
  }
  .pp1 {
    font-size: 2.5vh;
    right: 10vh;
    margin: 0vh 0vh -1vh 0vh;
  }
  .pp2 {
    font-size: 14vh;
    position: relative;
    left: 8vh;
  }
  .pp3 {
    font-size: 8vh;
    position: relative;
    left: 8vh;
  }
  .aboutme {
    font-size: 2.5vh;
    width: 60vw;
    margin: 15vh 0vh;
  }
  .funfont {
    font-size: 3vh;
  }
  .h2 {
    font-size: 10vh;
  }
  .tout {
    flex-direction: row;
    gap: 7vh;
    margin-bottom: 15vh;
  }
  .p,
  .pp {
    font-size: 2.5vh;
  }
  .h3 {
    font-size: 4vh;
    margin-top: 5vh;
  }
  .iconeimg {
    width: 6vh;
  }
  .imgr2,
  .imgl2 {
    width: 50vw;
  }
  .projet {
    flex-direction: column;
    align-items: center;
  }
  .projet2 {
    flex-direction: column-reverse;
    align-items: center;
  }
  .fichel,
  .ficher {
    width: 90%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .logoh {
    width: 12vh;
  }
  .containerr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 10vh;
  }
  .flex {
    gap: 3vh;
    margin: 50vh;
  }
  .flex1,
  .flex2 {
    flex-direction: column;
  }
  .flex2 {
    gap: 0vh;
  }
  .flex1 {
    gap: 2vh;
  }
  .photomoi {
    width: 40vh;
  }
  .pp1 {
    font-size: 2vh;
    right: 15vh;
    margin: 0vh 0vh -2vh 0vh;
  }
  .pp2 {
    font-size: 15vh;
    position: relative;
    left: 15vh;
  }
  .pp3 {
    font-size: 9vh;
    position: relative;
    left: 15vh;
  }
  .aboutme {
    font-size: 2vh;
    padding: 0px;
    width: 300px;
    margin: 10vh 0vh 25vh 0vh;
  }
  .funfont {
    font-size: 2.5vh;
  }
  .h2 {
    font-size: 7vh;
  }
  .tout {
    flex-direction: column;
    gap: 0px;
    margin-bottom: 10vh;
  }
  .pp {
    font-size: 2vh;
  }
  .h3 {
    font-size: 3vh;
    margin-top: 8vh;
  }
  .iconeimg {
    width: 4vh;
  }
  .p {
    margin: 1vh;
    width: auto;
  }
  .imgl2 {
    width: 40vw;
    margin: 0px;
  }
  .imgr2 {
    width: 40vw;
    margin: 0px;
  }
  .imgl {
    margin-left: 2vh;
  }
  .imgr {
    margin-right: 2vh;
  }
  .projet {
    align-items: center;
  }
  .duo {
    width: 33vh;
    gap: 0;
  }
}
