@font-face {
  font-family: "SatoshiLight";
  src: url("./assets/font/Satoshi.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SatoshiBold";
  src: url("./assets/font/Satoshi.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("./assets/font/Satoshi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
